<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
   <div class="bodydiv">
     <div class="menubar">
         <div class="logo">
             Flavour
         </div>
         <div class="menus">
             <ul class="navitems">
                 <li class="listitems">
                     <a style="color: white;" class="menulink">
                         Home
                     </a>
                 </li>
                 <li class="listitems">
                     <a style="color: white;" class="menulink">
                     About Us
                     </a>
                 </li>
                 <li class="listitems">
                     <a style="color: white;" class="menulink">
                     Offers
                     </a>
                 </li>
                 <li class="listitems">
                     <a href="/index" style="color: white;" class="menulink">
                     Menus
                     </a>
                 </li>
                 <li style="color: white;" class="listitems">
                     <a class="menulink">
                     Reservation
                     </a>
                 </li>
             </ul>

         </div>
          <div class="social-header">
                     <ul class="social_list">
                        <li class="social_media">
                                        <a href="#" class="fa fa-facebook" style="color: white; text-decoration: none;"></a>
                        </li>
                        <li class="social_media">
                           <a href="#" class="fa fa-twitter" style="color: white; text-decoration: none;" target="_blank"></a>
                        </li>
                        <li class="social_media">
                           <a href="#" class="fa fa-linkedin" style="color: white; text-decoration: none;" target="_blank"></a>
                        </li>
                     </ul>
          </div>
     </div>
     <div class="welcomecontainer">
         <div class="welcomefont">
             <h1 class="welcometext">WELCOME To</h1>
         </div>
         <div class="restaurentname">
             <h1 class="name">FLAVOUR</h1>
         </div>
         <div class="diningicon">
             <img class="spacer" src="http://alphawd.c1.biz/flavour/images/spacer-big.png" alt="">
         </div>
         <div class="workinghours">
             <p class="timingfirst">MON-FRI: 08:00 AM - 11:00 PM</p>
             <p class="timingsecond">WEEKENDS: 09:00 AM - 12:00 PM</p>
         </div>
         <div class="reservationbuttton">
         <a class="btn btn-red" id="btnreservation" href="#reservation">Make a reservation</a>
         </div>

     </div>
         <div class="imagewithtext">
               <div class="diningimage">
                   <img class="dine" id="firstshortimg"src="http://alphawd.c1.biz/flavour/images/about-img1.jpg" alt="">
                   <img class="dine" id="secondshortimg" src="http://alphawd.c1.biz/flavour/images/about-img2.jpg" alt="">
               </div>
               <div class="singleimage">
                   <img class="singledine" src="http://alphawd.c1.biz/flavour/images/about-img3.jpg" alt="">
               </div>
               <div class="textonly">
                   <h4 class="discover">Discover our</h4>
                   <h2 class="successstory">Success Story</h2>
                   <p class="paragraphstory">

                            Lorem ipsum carrots, when he flies learned. Lorem deleniti of Menander in unto her, conceived with difficulty deleniti do not approve of. To bring it to teach citizens, hardly liable to assueverit. Is it the Greek words, we have not. Or when they were easier accusation.
                            Clita aliquip on me by disputing it. For those suffering from the attacks. Now these things being the opinion of cu.

                            Which is the midpoint of, and who is, or employee to be expanded on the hardships of which they are. And when you explain the dynamic.

                            Is it the Greek words, we have not. Or when they were easier accusation.
                            Clita aliquip on me by disputing it. For those suffering from the attacks. Now these things being the opinion of cu.
                   </p>
               </div>
     </div>



    <div class="offers">
    <div class="offerheading">
        <p class="first">
            Qui quaeque mediocritatem et
                    </p>
        <h1 class="second">
            The offers of the day
        </h1>
        <p class="smallimg">
            <img src="http://alphawd.c1.biz/flavour/images/spacer-white.png" alt="">
        </p>

    </div>
    <div class="offerimgcontainer">
        <div class="offerimg">
            <img style="width: 350px; height: 285px;" src="http://alphawd.c1.biz/flavour/images/offer-1.jpg" alt="">
            <p class="underimgtext">
                Citrus avocado salad
            </p>
            <p class="undertext">
                Vel cu essent invidunt accusamus
            </p>
        </div>
         <div class="offerimg2">
            <img style="width: 350px; height: 285px;" src="http://alphawd.c1.biz/flavour/images/offer-2.jpg" alt="">
            <p class="underimgtext2">
                Greek chicken kabobs
            </p>
            <p class="undertext2">
                Vel cu essent invidunt accusamus
            </p>
        </div>
        <div class="offerimg3">
            <img style="width: 350px; height: 285px;" src="http://alphawd.c1.biz/flavour/images/offer-3.jpg" alt="">
            <p class="underimgtext3">
                Vegan meze layer cake
            </p>
            <p class="undertext3">
                Vel cu essent invidunt accusamus
            </p>
        </div>


    </div>
</div>


   </div>


<div class="footer-distributed">

         <div class="footer-left">

            <h3>Flavour</h3>

            <p class="footer-links">
               <a href="#">Home</a>
               <a href="#">Login</a>
                    <a href="#">SignUp</a>
            </p>

            <p class="footer-company-name">Flavour © 2015</p>
                <div class="socialiconcontainer">
                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="google"><i class="fa fa-google"></i></a>
                </div>
         </div>

         <div class="footer-right">

            <p>Contact Us</p>

            <form action="#" method="post">

               <input type="text" name="email" placeholder="Email">
               <textarea name="message" placeholder="Message"></textarea>
               <button>Send</button>

            </form>

         </div>

      </div>

</body>
</html>